# Load Iris dataset

In [1]:
from sklearn import datasets

iris = datasets.load_iris()

In [2]:
# sepal length, sepal width, petal length, petal width
iris.data[:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [3]:
# 3 types of flowers
iris.target[:5]

array([0, 0, 0, 0, 0])

In [4]:
sum(iris.target==0)

50

In [5]:
sum(iris.target==1)

50

In [6]:
sum(iris.target==2)

50

In [7]:
len(iris.target)

150

# Import data into pandas df

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [10]:
df['flower'] = iris.target

In [11]:
df.sample(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
80,5.5,2.4,3.8,1.1,1
141,6.9,3.1,5.1,2.3,2
149,5.9,3.0,5.1,1.8,2
75,6.6,3.0,4.4,1.4,1
85,6.0,3.4,4.5,1.6,1
107,7.3,2.9,6.3,1.8,2
7,5.0,3.4,1.5,0.2,0
27,5.2,3.5,1.5,0.2,0
58,6.6,2.9,4.6,1.3,1
105,7.6,3.0,6.6,2.1,2

# Classify

In [12]:
X = df.iloc[:,:4]
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
y = df.iloc[:,4]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: flower, Length: 150, dtype: int32

In [14]:
from sklearn import svm
from sklearn.model_selection import cross_val_score



model = svm.SVC(kernel='linear', C=1)

scores = cross_val_score(model, X, y, cv=5)

In [15]:
scores

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

# Hyperparameter tuning

## Grid Search CV

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:
clf = GridSearchCV(svm.SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel': ['rbf','linear']
}, cv=5, return_train_score=False)

clf.fit(X,y)
clf.cv_results_

{'mean_fit_time': array([0.00120025, 0.00100045, 0.00120025, 0.00080018, 0.00100045,
        0.00100007]),
 'std_fit_time': array([4.00400233e-04, 5.09122765e-07, 4.00280992e-04, 4.00090257e-04,
        2.78041453e-07, 1.90734863e-07]),
 'mean_score_time': array([0.00079994, 0.0006001 , 0.00060019, 0.00060015, 0.00020003,
        0.00060019]),
 'std_score_time': array([0.00039997, 0.00048998, 0.00049006, 0.00049002, 0.00040007,
        0.00049006]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [18]:
df = pd.DataFrame(clf.cv_results_)

df[['param_C', 'param_kernel', 'mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [19]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'feature_names_in_',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [20]:
clf.best_score_

0.9800000000000001

In [21]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

## Randomized Search CV

In [22]:
from sklearn.model_selection import RandomizedSearchCV

In [28]:
clf = RandomizedSearchCV(svm.SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel': ['rbf','linear']
}, cv=5, return_train_score=False, n_iter=2)

clf.fit(X,y)
clf.cv_results_

df = pd.DataFrame(clf.cv_results_)


df[['param_C', 'param_kernel', 'mean_test_score']]

  param_C param_kernel  mean_test_score
0      10       linear         0.973333
1      20          rbf         0.966667

# Best classifier

In [30]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

model_params = {
    'svm': {
        'model': svm.SVC(gamma='auto'),
        'params' : {
            'C': [1,10,20],
            'kernel': ['rbf','linear']
        }  
    },
    'random_forest': {
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression' : {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [39]:
for i in model_params.items():
    print(i, "\n")

('svm', {'model': SVC(gamma='auto'), 'params': {'C': [1, 10, 20], 'kernel': ['rbf', 'linear']}})

('random_forest', {'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 5, 10]}})

('logistic_regression', {'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}})

In [40]:
scores = []

for model_name, mp in model_params.items():
    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(iris.data, iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                best_params
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.960000       {'n_estimators': 10}
2  logistic_regression    0.966667                   {'C': 5}